<footer class="py-8 py-md-11 {{classList}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="{{webRoot}}/assets/img/tahc-logo-color.svg" alt="The American Hail Company" class="footer-brand w-50 mb-2">

        <!-- Text -->
        <p class="text-gray-700 my-4">
          #1 auto hail & paintless dent repair in Central Texas.
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item me-3">
            <a href="https://www.facebook.com/TheAmericanHailCompany/" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Navigation
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{{webRoot}}" class="text-reset">
              Home
            </a>
          </li>
          <li>
            <a href="{{webRoot}}/about.html" class="text-reset">
              About
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Service
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="{{webRoot}}/service-areas.html" class="text-reset">
              Service Areas
            </a>
          </li>
            <a href="#!" class="text-reset">
              Schedule Online
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Support
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-0">
          <li class="mb-3">
            <a href="{{webRoot}}/faq.html" class="text-reset">
              FAQ
            </a>
          </li>
          <li>
            <a href="{{webRoot}}/contact.html" class="text-reset">
              Contact
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Contact
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-0">
          <li class="mb-3">
            <a href="tel:+18304333833" class="text-reset">
              Call Us
            </a>
          </li>
          <li>
            <a href="mailto:ahsclint@gmail.com" class="text-reset">
              Email Us
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
