<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}">
      <img src="{{webRoot}}/assets/img/tahc-logo-color.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{{webRoot}}" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="{{webRoot}}/about.html" class="nav-link">
            About
          </a>
        </li>

        <li class="nav-item">
          <a href="{{webRoot}}/service-areas.html" class="nav-link">
            Service Areas
          </a>
        </li>

        <li class="nav-item">
          <a href="{{webRoot}}/faq.html" class="nav-link">
            FAQ
          </a>
        </li>

        <li class="nav-item">
          <a href="{{webRoot}}/contact.html" class="nav-link">
            Contact
          </a>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-{{button}} lift ms-auto" href="https://docs.google.com/forms/d/e/1FAIpQLSftSJ-IM3y0l8sVy3ncjz0YdlK9ED9l1Cr5wxWxZl63WxEOjg/viewform?usp=sf_link" target="_blank">
        Schedule Repairs <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
      </a>

    </div>

  </div>
</nav>
